// Define variables for your color scheme

// For example:
$red: #FF3757;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$lpb-pink: #FF3757;
$darkest-red: #52000E;
$dark-red: #B3273D;
$dark-pink: #C06D7A;
