<div>
  <% dish.top_3_reviewed_flavors.each do |flavor_name, count| %>
    <span class="px-1 mx-1 btn pink-button" style="border-radius:20px;font-size:12px;"><%=flavor_name%> - <%= count %></span>
  <% end %>
</div>
