<div class="dish-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://payload.cargocollective.com/1/1/32536/13961206/pinkk_670.jpg);">
  <div class="banner-container">
    <div class="word-container">
      <h1><strong><%=@dish.stall.hawker_center.name%></strong></h1>
    </div>
      <br>
    <div class="word-container">
      <h1><strong><%=@dish.stall.name%>/<%=@dish.name%></strong></h1>
    </div>
  </div>
</div>
