<div  class="d-flex flex-row flex-wrap align-items-center justify-content-between">
  <div style="list-style-type: none" class="mx-auto d-flex gap-3">
    <% dish.top_3_reviewed_flavors.each do |flavor, score| %>
      <%= link_to "/?query=#{flavor}",style:"text-decoration:none" do  %>
        <span class="pink-badge">
          <%= flavor %>
            <span class="number-badge">
              <%= score %>
              <span class="visually-hidden">reviews</span>
            </span>
        </span>
      <% end %>
    <% end %>
  </div>
 <div>
