

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://payload.cargocollective.com/1/1/32536/13961206/pinkk_670.jpg);">
  <h1>THE LOCAL POCKETBOOK</strong></h1>
  <h2>Bringing the best local food to the palm of your hand</h2>
<%# insert search bar here %>
</div>
