

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://payload.cargocollective.com/1/1/32536/13961206/pinkk_670.jpg);">
  <div class="banner-container">
    <h1>THE LOCAL POCKETBOOK</strong>!</h1>
    <p>Bringing you the best local food in the palm of your hand</p>



  </div>
</div>
