<div class="stall-title-banner">
  <h1>
    <%= @stall.name %>
  </h1>

  <div class="stars-logo">
    <i class="fa-light fa-star"></i>
    <i class="fa-light fa-star"></i>
    <i class="fa-light fa-star"></i>
    <i class="fa-light fa-star"></i>
    <i class="fa-light fa-star"></i>
  </div>

  <div class="rank mb-3">
  <h2>
    Rank
  </h2>
  </div>

</div>
