

<% if params[:query].present? %>
  <div class="stall-show-grid-container d-none" data-search-food-target="topgrid">
<% else %>
  <div class="stall-show-grid-container" data-search-food-target="topgrid">
<% end %>
  <div class="div1">
    <%= render partial: 'shared/specialty_dish_card', locals: { dish: @topdish, topstalls: @topstalls } %>
  </div>

  <div class="div2">
    <%= render 'shared/long_card', dishes: @topdishes %>
  </div>
</div>
