
<% if params[:query].present? && @dishes.length != 0%>
  <h2>Searching for <%= params[:query] %>...</h2>
<% elsif @dishes.length == 0 %>
  <h2>No query found... Please enter something else</h2>
<% else %>
  <div class="py-4 text-center">
    <h1>Be spoilt with your food choices!</h1>
    <h2>We have a million food flavors waiting for you!</h2>
  </div>
<% end %>

<div class="four-column-cards d-flex flex-wrap justify-content-around">
  <%= render 'shared/card_four_column', dishes: @dishes %>
</div>
