
<div class="py-4 text-center">
<h1>Be spoilt with your food choices!</h1>
<h2>We have a million food flavors waiting for you!</h2>
</div>
<div class="four-column-cards d-flex flex-wrap justify-content-around">
      <% @dishes.each do |dish| %>
      <div class="col-5 p-2 card" style="position:relative;">
        <div class="column-headers pt-2 px-3">
            <p><strong><%= dish.name[0..25] %></strong></p>
            <div class="d-flex justify-content-between rankandstar">
              <div class="stars-rank">
                  <i class="fa-light fa-star"></i>
                  <i class="fa-light fa-star"></i>
                  <i class="fa-light fa-star"></i>
                  <i class="fa-light fa-star"></i>
                  <i class="fa-light fa-star"></i>
              </div>
              <div class="rank">
              <p>Rank #?</p>
              </div>
            </div>
        </div>

        <img src="<%= dish.description  %>" alt="" class="img-fluid p-2" style="border-radius:20px">

        <div style="list-style-type: none" class="d-flex flex-row justify-content-around flex-wrap px-2">
                <span class="px-1 mx-1 btn pink-button">flavour</span>
                <span class="px-1 mx-1 btn pink-button">flavour</span>
                <span class="px-1 mx-1 btn pink-button">flavour</span>
        </div>

      </div>
      <% end %>

  </div>
