<div data-controller="search-food">
  <%= render 'shared/main_banner' %>

  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="pt-3 pb-1">

          <h1>Top Rated Hawker Dishes in Singapore</h1>
        </div>


          <%= render 'stalls/index/top_dishes' %>
          <%= render 'stalls/index/list_food' %>

        </div>
      </div>
    </div>
  </div>
