<% render 'shared/navbar' %>
<div class="solid-red-banner">
  <h1>REGISTER YOUR STALL TODAY</h1>
</div>

<div class="d-flex m-3">

  <div class="d-flex flex-column w-50">
    <%# explanation side %>
    <div>
      <h2>Why list on Local Pocket Book?</h2>
        <%# visibility reason %>
        <div>
          <h3>Enhanced visibility</h3>
            <div>
              <i class="fa-solid fa-glasses"></i>
              <p>
                Expose your stall to a global audience by merit of the quality of your food.
              </p>
            </div>
        </div>
    </div>
        <%# analytics reason %>
    <div>
      <h3>Understand your business</h3>
          <div>
            <i class="fa-solid fa-chart-mixed"></i>
            <p>
              Gain simple statistics about how you compare to the competition on a national-scale and within
              your hawker center.
            </p>
          </div>
    </div>
  </div>
    <%# form side %>
  <div class='w-50 m-3 form'>
    <%= render 'list_stall_form' %>
  </div>

</div>
