<div class='d-flex flex-column analytic-display'>
  <%# your price %>
  <div>
    <div>
      <p class='analytic-display-summary'>Your dish is the 3rd most expensive of 222 "Chicken Rice" dishes</p>
    </div>
    <div class='d-flex justify-content-between'>
      <p>Your Price:</p>
      <p>$8.50SGD</p>
    </div>
  </div>
  <%# hawker price %>
  <div class='d-flex justify-content-between'>
    <p>Avg. Hawker Price:</p>
    <p>$8.50SGD</p>
  </div>
</div>
