<div class='overall'>
  <p><%= @stall.name %> is</p>
  <h2> <%= @stall.rank %> </h2>
  <p>out of <%= Stall.count %> stalls in Singapore</p>
  <p>(top <%= 1 - (@stall.rank.to_f / Stall.count.to_f).round %>%) </p>
</div>
