<div class='overall'>
  <div>
    <h1> <%= stall.rank_in_hawkercenter %> </h1>
  </div>
  <div class="overall-details">
    <p>out of <strong><%= hawkercenter.stalls.count %></strong> stalls</p>
    <p> in <%= hawkercenter.name %></p>
    <p>(top <%= ((1 - (stall.rank_in_hawkercenter.to_f / hawkercenter.stalls.count.to_f))* 100).round %>%)</p>
  </div>
</div>
