<div class='overall'>
  <p><%= @stall.name %> is</p>
  <h2> <%= @stall.rank %> </h2>
  <p>out of <strong><%= Stall.count %></strong> stalls</p>
  <p>in Singapore</p>
  <p>(top <%= ((1 - (@stall.rank.to_f / Stall.count.to_f))* 100).round %>%) </p>
</div>
