<div class="stall_banner flex-row justify-content-between flex-wrap" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://payload.cargocollective.com/1/1/32536/13961206/pinkk_670.jpg);padding:30px">
    <div class="flex-grow" >
    <h2 style="font-size:calc(100% + 2vw);"><%= @stall.name %></h2>
    <h2 style="font-size:calc(100% + 2vw);"><%= @stall.hawker_center.name%></h2>
    </div>

  </div>

</div>
