.rank-medal-featured {
  height: 60px;
  width: 60px;
  img {
    height: 100%;
    margin: 0 auto;
  }
}

.rank-medal-small {
  height: 25px;
  width: 25px;
  img {
    height: 100%;
    margin: 0 auto;
  }
}
