.darkest-red {
  color: #52000E;
}

.darkest-red-background {
  background-color: #52000E;
}

.dark-red {
  color: #B3273D;
}

.dark-red-background {
  background-color: #B3273D;
}

.red {
  color: #FF3757;
}

.red-background {
  background-color: #FF3757;
}

.dark-pink {
  color: #C06D7A;
}

.dark-pink-background {
  background-color: #C06D7A;
}
