.dish-banner {
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}

.banner-container h1 {
  font-size: 48px;
}

.word-container {
  height: 48px;
  width: max-content;
  background-color: #52000e;
  margin-left: 40px;
  color: white;
}
