.dish-show-container {
  display: flex;
  width: 620px;
  padding-top: 20px;
}

.description-box {
  height: 200px;
  width: 620px;
  color: black;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.second-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 575px;
}

.dish-description-text {
  width: 500px;
  height: 208px;
  justify-content: center;
  overflow-wrap: break-word;
  padding: 10px;
}

.dish-individual-card {
  display: flex;
  height: max-content;
  width: 500px;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.dish-header {
  color: black;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.dish-rank {
  height: max-content;
  width: max-content;
  margin-left: auto;
}

.dish-name-and-rating-card {
  display: flex;
}

.dish-rating-card {
  height: max-content;
  width: max-content;
  margin-right: auto;
}

.dish-photo-card {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.dish-photo-card img {
  height: 300px;
  width: 400px;
  border-radius: 15px;
}

.dish-flavor-card {
  display: flex;
  justify-content: center;
}

.right-side-container {
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 500px;
  margin-left: 20px;
}

.review-container {
  display: flex;
  width: 620px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
  font-size: 12px;
  padding: 10px;
}

.review-cards {
  height: 160px;
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.comment {
  height: 160px;
  width: 620px;
  text-overflow: ellipsis;
  display: inline-block;
  padding: 10px;
  font-size: 12px;
}

.reviewer-details {
  display: flex;
  font-size: 12px;
}

.dish-rating-card {
  text-align: center;
}

.leave-a-review {
  height: 100px;
  width: 400px;
  align-items: center;
  display: flex;
  text-decoration: none;
}

.review-submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b3263d;
  color: white;
  width: 100%;
  border-radius: 15px;
}

.review-right-side-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.review-plea {
  display: flex;
  width: 300px;
  height: 100px;
  align-items: center;
}

.checkboxes-label {
  margin: none;
}

.my-custom-class {
  padding: 8px;
}

.individual-checkboxes {
  width: 370px;
  display: inline-block;
  height: 160px;
  word-break: keep-all;
  justify-content: center;
}
