.form {
  background: white;
  padding: 20px 30px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: $red;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.type {
  margin-bottom: 0.1rem;
  font-family: $headers-font;
  font-weight: 400;
}

.btn-danger {
  font-family: $headers-font;
  font-weight: 800;
  color: white;
}
