.four-column-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  border-radius: 30px;
  .img-fluid {
  }
}

.main-item-image {
  position: relative;
  #homepagetop1 {
    width: 250px;
    border-radius: 25px;
  }
  .bookmark {
    position: absolute;
    left: 4%;
    top: 4%;
    opacity: 0%;
  }
}
.main-item-image:hover {
  #homepagetop1 {
    opacity: 50%;
  }
  .bookmark {
    opacity: 100%;
  }
}

.column-headers {
  .rankandstar {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
}

.list-food-image {
  position: relative;
  .bookmark {
    position: absolute;
    top: 6%;
    left: 6%;
    opacity: 0%;
  }
}

.list-food-image:hover {
  .img-fluid {
    opacity: 50%;
  }
  .bookmark {
    position: absolute;
    top: 6%;
    left: 6%;
    opacity: 100%;
  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .four-column-cards {
    grid-template-columns: 1fr;
  }

  .div2 {
    margin-left: auto;
    margin-right: auto;
  }
  #homepagetop1 {
    width: 80%;
    border-radius: 25px;
  }
  .featured-dish-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    #foodwriteuptext {
      font-size: 12px;
    }
  }
  .card {
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .sidefoodcards {
    width: 95%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    .sidefood-content {
      padding-left: 2rem;
    }

    .sidefood-image {
      margin-left: auto;
      margin-right: auto;
      border-radius: 40px;

      #image {
        width: 300px;
        height: 250px;
        padding: 1rem;
        align-content: center;
      }
    }

    .sidefood-image:hover {
      opacity: 50%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card {
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .four-column-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .img-fluid {
      height: 15vw;
    }
  }
  .card {
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
