.four-column-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  .img-fluid {
  }
}

.column-headers {
  .rankandstar {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .four-column-cards {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card {
    width: 40%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .four-column-cards {
    grid-template-columns: 1fr 1fr 1fr;

    .img-fluid {
      height: 15vw;
    }
  }
  .card {
    width: 25%;
  }
}
