.navbar-lewagon {
  justify-content: space-between;
  // background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

// unable to change to white...
.nav-link {
  font-family: "Grandstander", sans-serif;
  color: white;
  :hover {
    color: white;
  }
}

.brand-name {
  font-family: "Grandstander", sans-serif;
  color: #ff3757;
  font-size: 32px;
}
