.add-dish-container {
  // height:px;
  // width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // align-items:;
}

.stall-card-container {
  // height: 836px;
  // width: 700px;
  // padding-right: 20px;
  margin: 20px;
  border-radius: 25px;
  border-color: black;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
}

.stall header {
  justify-content: center;
  text-align: center;
}
.stall-titlev2 {
  // width: 700px;
  background-color: #ff375c;
  height: 100px;
  border-radius: 25px;
  font-size: 16 !important;
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Grandstander", sans-serif;

  p {
    margin-bottom: 0px;
    padding-top: 10px;
    height: 30px;
    font-family: "Grandstander", sans-serif;
  }
}

.stall-address {
  color: white;
  font-size: 16 !important;
}

.stall-photo {
  display: flex;
  justify-content: center !important;
  width: 30vw;
  // height: 286px;
  margin-top: 40px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.stall-description {
  background-color: white;
  // height: 140px;
  width: 30vw;
  height: 10vw;
  // border-radius: 25px;
  display: flex;
  justify-content: center;
  margin: 20px;
  // margin-right: 10px;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

.stall-dish-pictures {
  height: 140px;
  width: 550;
  display: flex;
  margin: 20px;
  margin-right: 10px;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .stall-dish-picture-card {
    flex: 0 0 auto;
  }
}

.stall-dish-picture-card {
  height: 130px;
  width: 150;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.stall-dish-picture-name {
  font-size: 16px;
}

.stall-dish-picture-header {
  display: inline-block;
}

.form-container {
  // height: 836px;
  // width: 700px;
  // padding-left: 20px;
  margin: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff375c;
  color: white;
}

@media (min-width: 100px) and (max-width: 575px) {
  .add-dish-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .add-dish-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .add-dish-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .add-dish-container {
    grid-template-columns: 1fr 1fr;
  }
}
