.container-side {
  padding-left: 10px;

  p {
    margin-bottom: 0 !important;
  }
}

.text-justify.words {
  margin-bottom: 0 !important;
}

.sidefood-content.dish {
  gap: 15% 0px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 1%;
  padding: 1%;
  border-radius: 5px;
}
