.solid-red-banner {
  // div element
  height: 100px;
  width: 100vw;
  background-color: #FF3757;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;

  // text
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
}
