.stall-title-banner {
}

#small-card-title {
  margin-right: 25%;
  font-size: 20px;
  margin-left: 5px;
}

.stall-show-grid-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
  .div1 {
  }
  .div2 {
  }
}

.stall-write-up {
  #stalltitle {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 40px;
    text-align: justify;
  }

  #writeuptext {
    margin-left: 5%;
    margin-right: 40px;
    text-align: justify;
  }
}
.featured-dish-card {
  .featured-dish-image {
    width: 420px;
    background-size: cover;
  }
  #foodtitle {
    margin-left: 5%;
    margin-right: 40px;
    text-align: justify;
  }

  #foodwriteuptext {
    margin-left: 5%;
    margin-right: 40px;
    text-align: justify;
  }
}

.sidefoodcards {
  flex: auto;
  position: relative;
  background-color: beige;

  .bookmark {
    position: absolute;
    margin-left: 90%;
    margin-top: 15px;
  }

  .stars-rank {
    position: absolute;
    margin-left: 70%;
    margin-top: 30px;
  }

  .rank {
    position: absolute;
    margin-left: 75%;
    margin-top: 5px;
  }
}

.sidefood-image {
  #image {
    width: 250px;
    height: 250px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .stall-show-grid-container {
    grid-template-columns: 1fr;
  }

  #small-card-title {
    margin-right: 0%;
    font-size: 16px;
    margin-left: 5px;
  }
  #main-image {
    width: 300px;
  }

  #repeated-text {
    font-size: 12px;
  }
  .div2 {
    margin-right: 18px;
  }
  .sidefood-image {
    #image {
      width: 200px;
      height: 200px;
    }
  }
  .sidefoodcards {
    .bookmark {
      margin-left: 40%;
      margin-top: 2%;
      background-color: rgba(255, 255, 255, 0.6);
    }

    .buttons {
      position: absolute;
      margin-left: -57%;
      margin-top: 69%;
    }

    .stars-rank {
      position: absolute;
      margin-left: 12%;
      margin-top: 64%;
    }

    .rank {
      margin-left: 23%;
      margin-top: 58%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .stall-show-grid-container {
    grid-template-columns: 1fr;
  }

  .sidefoodcards {
    .bookmark {
      margin-left: 90%;
      margin-top: 3%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .stall-show-grid-container {
    grid-template-columns: 1fr;
  }
  .sidefoodcards {
    .bookmark {
      margin-left: 90%;
      margin-top: 3%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .stall-show-grid-container {
    grid-template-columns: 2fr 3fr;
  }
}
