.stall-title-banner {
}

#small-card-title {
  margin-right: 25%;
  font-size: 20px;
  margin-left: 5px;
}

.stall-show-grid-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
  .div1 {
  }
  .div2 {
  }
}

.stall-write-up {
  #stalltitle {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 40px;
    text-align: justify;
  }

  #writeuptext {
    margin-left: 5%;
    margin-right: 40px;
    text-align: justify;
  }
}
.featured-dish-card {
  border: 3px solid #ffffff;
  margin-top: 2rem;
  img {
    height: 360px;
    background-size: cover;
    border-radius: 25px;
  }
  .featured-dish-image {
    width: 420px;
    background-size: cover;
    border-radius: 25px;
  }
  #foodtitle {
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 40px;
    text-align: justify;
  }

  #foodwriteuptext {
    margin-left: 5%;
    margin-right: 40px;
    text-align: justify;
    margin-top: 1rem;
  }
}

.sidefoodcards {
  flex: auto;
  padding: 0.5em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  // .rank {
  //   position: relative;

  //   .stars-rank {
  //     margin-top: -4%;
  //   }
  //   .bookmark {
  //   }
  // }
}
.sidefood-content {
  padding-right: 2%;
}
.sidefood-image {
  position: relative;
  margin-right: 2%;
  .bookmark{
    position: absolute;
    left: 4%;
    top: 4%;
  }
  #image {
    width: 180px;
    height: 180px;
    padding: 0px;
    border-radius: 20px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .stall-show-grid-container {
    grid-template-columns: 1fr;
  }

  #small-card-title {
    margin-right: 0%;
    font-size: 16px;
    margin-left: 5px;
  }
  #main-image {
    width: 300px;
  }

  #repeated-text {
    font-size: 12px;
  }
  .div2 {
    margin-right: 18px;
  }
  .sidefood-image {
    #image {
      width: 200px;
      height: 200px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .stall-show-grid-container {
    grid-template-columns: 1fr;
  }

  .sidefoodcards {
    .bookmark {
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .stall-show-grid-container {
    grid-template-columns: 1fr;
  }
  .sidefoodcards {
    .bookmark {
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .stall-show-grid-container {
    grid-template-columns: 2fr 3fr;
  }
}
