<%# For top div in index  %>
<% if params[:query].present? %>
  <div class="stall-show-grid-container d-none" data-search-food-target="topgrid">
<% else %>
  <div class="stall-show-grid-container" data-search-food-target="topgrid">
<% end %>
  <%# top dish %>
  <div class="div1">
    <%= render 'shared/card_featured_dish', dish: @topdish %>
  </div>

  <%# dishes ranked 2 - 4 %>
  <div class="div2">
    <%= render 'shared/card_long', dishes: @top_second_to_fourth_dishes %>
  </div>
</div>
