<div class="stall-show-grid-container <%= params[:query].present? ? "d-none" : "" %>" data-search-food-target="topgrid">
  <%# top dish %>
  <div class="div1">
    <%= render 'shared/card_featured_dish', dish: dishes.first %>
  </div>

  <%# dishes ranked 2 - 4 %>
  <div class="div2">
    <%= render 'shared/card_long', dishes: dishes[1..3] %>
  </div>
</div>
